//padding and margins
$padding-mobile: 1em;
$margin-mobile:0.5em;
$padding-tablet: 1.5em;
$margin-tablet:1em;
$padding-desktop:2em;
$margin-desktop:1.5em;

//fonts
$main_font: Helvetica, sans-serif;
$titles_font:'Roboto', sans-serif;



